In [1]:
! pip install country_converter --upgrade

Collecting country_converter
  Downloading country_converter-1.0.0-py3-none-any.whl (44 kB)
                                              0.0/44.5 kB ? eta -:--:--
                                              0.0/44.5 kB ? eta -:--:--
                                              0.0/44.5 kB ? eta -:--:--
                                              0.0/44.5 kB ? eta -:--:--
                                              0.0/44.5 kB ? eta -:--:--
                                              0.0/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     ---------                                10.2/44.5 kB ? eta -:--:--
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     -----------------                       20.5/44.5 kB 31.2 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     --------------------------              30.7/44.5 kB 29.8 kB/s eta 0:00:01
     -----------------------------------     41.0/44.5 kB 30.7 kB/s eta 0:00:01
     -----------------------------------     41.0/44.5 kB 30.7 kB/s eta 0:00:01
     -----------------------------------     41.0/44.5 kB 30.7 kB/s eta 0:00:01
     --------------------------------------- 44.5/44.5 kB 29.7 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0 in c:\users\akinmegs\anaconda3\lib\site-packages (from country_converter) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\akinmegs\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\akinmegs\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\akinmegs\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\akinmegs\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)
Installing collected packages: country_converter
Successfully installed country_converter-1.0.0

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
import statsmodels.api as sm
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder
import country_converter as coco

In [4]:
#Load the dataset
data =pd.read_csv('cost_of_living.csv')

In [5]:
data.head()

     Countries  Cost of living, 2017  Global rank Available data
0      Bermuda                225.86            1    2017 - 2017
1      Iceland                209.10            2    2017 - 2017
2  Switzerland                197.89            3    2017 - 2017
3       Norway                186.52            4    2017 - 2017
4      Denmark                171.78            5    2017 - 2017

In [6]:
data.shape

(167, 4)

In [8]:
data.dtypes

Countries                object
Cost of living, 2017    float64
Global rank               int64
Available data           object
dtype: object

In [9]:
data.isnull().sum()

Countries               0
Cost of living, 2017    0
Global rank             0
Available data          0
dtype: int64

In [16]:
data['Available data'].head()

0    2017 - 2017
1    2017 - 2017
2    2017 - 2017
3    2017 - 2017
4    2017 - 2017
Name: Available data, dtype: object

In [17]:
# Replace the values in the "Available data" column with "2017"
data['Available data'] = data['Available data'].str.replace(r'\d{4} - \d{4}', '2017')

# Check the resulting DataFrame
print(data.head())

     Countries  Cost of living, 2017  Global rank Available data  \
0      Bermuda                225.86            1           2017
1      Iceland                209.10            2           2017
2  Switzerland                197.89            3           2017
3       Norway                186.52            4           2017
4      Denmark                171.78            5           2017

   Cost of living
0          225.86
1          209.10
2          197.89
3          186.52
4          171.78

C:\Users\Akinmegs\AppData\Local\Temp\ipykernel_8836\2403736818.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Available data'] = data['Available data'].str.replace(r'\d{4} - \d{4}', '2017')

In [18]:
data.head()

,Countries,"Cost of living, 2017",Global rank,Available data,Cost of living
0,Bermuda,225.86,1,2017,225.86
1,Iceland,209.10,2,2017,209.10
2,Switzerland,197.89,3,2017,197.89
3,Norway,186.52,4,2017,186.52
4,Denmark,171.78,5,2017,171.78